.scip-clip-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	overflow: hidden;

	img{
		width: 100%;
	}

	& + a{
		margin: auto;
	}
}

.team{
	a{
		&:visited{
			color: #0370b0 !important;
		}
	}
}