
<div class="ds-row">
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
	<div class="ds-col-xs-1 ds-bg-green-1"><div class="ds-bg-blue-primary-1 ">&nbsp;</div></div>
</div>